# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules

# Sensitive environment variables
.env
.env.*
!.env.example
!example.env

# Modules + built files
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build e arquivos gerados (Vite / Node)
dist/
build/
.vite/

# Sistema Operacional e Editores
.DS_Store
Thumbs.db
.vscode/
.idea/